<tr class="nested-fields">
  <td><%= f.text_field :vegetable, placeholder: "(例)豚肉" %></td>
  <td><%= f.text_field :amount, placeholder: "(例)300g" %></td>
  <td><%= link_to_remove_association "行削除", f %></td>
</tr>
